# Core dependencies
opencv-python
mediapipe
numpy

--index-url https://download.pytorch.org/whl/rocm6.4
torch
torchvision

chromadb
pillow
scikit-learn

boxmot
supervision
scikit-image

ultralytics

pre-commit
black
flake8
isort
